export OS_PROJECT_DOMAIN_NAME={{ openstack_keystone_setup.domain }}
export OS_USER_DOMAIN_NAME={{ openstack_keystone_setup.domain }}
export OS_PROJECT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD={{ openstack_keystone_setup.admin_pass }}
export OS_AUTH_URL=http://{{ openstack_keystone_setup.controller }}:35357/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
